body{
  font-family: Arial;
  text-align:center;
  background:#f2f2f2;
}

h2{
  margin-top:20px;
}

#gallery{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  padding:15px;
}

img,video{
  width:100%;
  border-radius:8px;
  background:white;
}
